<!DOCTYPE html>
<html>

<head>
    <title>Home</title>
    <link rel="stylesheet" href="/CSS/Finance.css">
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>

<body>

    <ul>
        <li><a href="Login">Logout</a></li>
    </ul>

    <h1>Finance App</h1>

    <h2>Balance: £ <%= Transactions[Transactions.length-1].Balance %>
    </h2>

    <div id="Graph">
        <canvas id="Expenses" style="width: 512px; height: 256px"></canvas>

        <script>
            <% let Balance = []%>
            <% let Month = []%>

            <% for (let t=0;t<allTransactions.length;t++) {%>
                <% Balance.push(allTransactions[t].Balance)%>
                <% Month.push(allTransactions[t].Month)%>
            <% } %>

            var Balance = <%- JSON.stringify(Balance) %>;
            var Month = <%- JSON.stringify(Month) %>;

            console.log(Balance);
            console.log(Month);

            var ctx = document.getElementById('Expenses').getContext('2d');
            var chart = new Chart(ctx, {
                // The type of chart we want to create
                type: 'line',

                // The data for our dataset
                data: {
                    labels: Month,
                    datasets: [{
                        label: 'Balance',
                        backgroundColor: 'rgb(0, 150, 255)',
                        borderColor: 'rgb(0, 100, 255)',
                        data: Balance
                    }]
                },

                // Configuration options go here
                options: {
                    responsive: true,
                    maintainAspectRatio: false,
                    legend: {
                        display: false
                    },
                    scales: {
                        xAxes: [{
                            scaleLabel: {
                                display: true,
                                labelString: 'Month'
                            }
                        }],
                        yAxes: [{
                            ticks: {
                                beginAtZero: false
                            },
                            scaleLabel: {
                                display: true,
                                labelString: '£'
                            }
                        }]
                    },
                    title : {
                        display: true,
                        text: 'Balance for ' + <%= Transactions[Transactions.length-1].Year %>
                    }
                }
            });
        </script>
    </div>

    <div id="Amounts">
        <h2>Payments</h2>

        <div>
            <form id="Add" method="POST" action="/addpayment">
                <p>Amount: £ <input type="number" name="amount" pattern="^\d*(\.\d{0,2})?$" step=".01"></p>
                <p>Description: <input type="text" name="description"></p>
                <button id="addpayment">Add Payment</button>
            </form>
        </div>

        <form id="Search" method="GET" action="/Home">
            <button type="submit">View All Payments</button>
        </form>
        <form method="POST" action="/filtermonth"><a>Search Month: </a>
            <select name="month">
                <% for (z=0; z<allTransactions.length; z++) {%>
                    <option value=<%=allTransactions[z].Month %>><%= allTransactions[z].Month %>
                    </option>
                    <% } %>
            </select>
            <input id type="submit" value="Search">
        </form>

        <table id="Payments" style="width:80%">
            <thead>
                <tr>
                    <th>Date</th>
                    <th>Description</th>
                    <th>Amount</th>
                    <th>Remove</th>
                </tr>
            </thead>

            <% for(var i=0; i<Transactions.length; i++) {%>
                <%for(var x=0; x<Transactions[i].Payments.length; x++) { %>
                    <tbody>
                        <td>
                            <%= Transactions[i].Payments[x].Date %>
                        </td>
                        <td>
                            <%= Transactions[i].Payments[x].Description %>
                        </td>
                        <td>£<%= Transactions[i].Payments[x].Amount %>
                        </td>
                        <td><button class="RemovePayment" id=<% i-x %> >Remove Payment</button></td>
                    </tbody>
                <% } %>
            <% } %>
    </div>

</body>

</html>